*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    box-sizing:border-box;
    }
    body{
        width:100%;
        color:grey;
        background:rgba(0,0,0,0.9);
        overflow:hidden;
        }
        header{
          //  position:fixed;
            width:100%;
            display:flex;
            justify-content:space-between;
            top:0;
            padding:20px 10px 10px;
            background-color:rgba(0,0,0,0.9);
        }
        header .topNav{
            display:flex;
            align-items:center;
            justify-content:space-between;
            gap:50px;
        }
        header h2{
            text-transform:uppercase;
            }
        section.ne{
            position:relative;
            top:0;
            z-index:100;
            background-color:black;
            width:100%;
            height:100vh;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            gap:10px;
            //transform:translateY(30px);
        }
        #downIcon{
            top:30px;
            left:20px;
            font-size:35px;
            position:absolute;
        }
        #profile{
            width:200px;
            height:200px;
            border-radius:50%;
            border:2px solid white;
            animation:prof 2s infinite 2s ease;
        }
        .shortcut{
            position:fixed;
            width:100%;
            bottom:95px;
            justify-content:center;
            display:none;
        }
        .shrt{
            width:80%;
            background-color:black;
            padding:10px;
            border-radius:30px;
        }
        .sht{
            width:100%;
            display:flex;
            justify-content:space-between;
            align-items:center;
        }
        .sht i{
            font-size:35px;
            padding:5px;
        }
        .sht i:hover{
            background-color:grey;
            color:black;
            border-radius:50%;
        }
        .shtDetails{
            display:flex;
            gap:20px;
            align-items:center;
        }
        .shtDetails img{
            width:50px;
            border-radius:50%;
        }
        .shtDetail h2,
        .shtDetail h3{
            font-size:small;
        }
        section.sectionTwo{
            display:none;
            z-index:99;
            margin:10px;
            flex-direction:column;
        }
        .searchResult,
        .liked{
            margin:10px 0;
        }
        .likedList{
            width:100%;
            position:absolute;
          top:0;
          height:90vh;
          display:none;
       //   transform:translateX(200px);
            left:0;
            overflow:scroll;
            transition:2s ease;
            background-color:black;
            z-index:4;
            padding:10px;
        }
   
        .libDetail{
            width:100%;
            position:absolute;
            bottom:10%;
            transform:translateY(200px);
            left:0;
            transition:2s ease;
            background-color:black;
            z-index:4;
            padding:10px;
        }
        .libDetail.pop{
            transform:translateY(0);
        }
        .libDetail .list{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:10px;
        transition:1s;
        }
        .libDetail .list:hover{
            background-color:gray;
            color:white;
            border-radius:10px;
        }
        .musicHome{
            width:100%;
            display:flex;
            justify-content:space-between;
            align-items:center;
            flex-direction:row;
            padding:10px;
      border-bottom:2px solid grey;
        }
        .music{
            display:flex;
            gap:20px;
            align-items:center;
        }
           .music:last-child{
            border-bottom:none;
        }
        .music img{
            border-radius:6px;
            }
        .musicDetail{
            text-align:left;
        }
        .musicDetail h2,
        .musicDetail h3{
            font-size:18pxl;
        }
        #discoverPage{
           position:relative;
            top:50%;
            width:100%;
            display:flex;
            flex-direction:column;
            gap:10px;
            //transform:translateY(30px);
        }
        .trending h2{
            text-align:center;
        }
        .trend{
            width:100%;
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:5px;
        }
        .trend i{
            font-size:large;
        }
        .trendDetails{
            display:flex;
            gap:20px;
            align-items:center;
        }
        .col1, .col2{
            width:100%;
        }
        .trendList{
            overflow-x:scroll;
           display:grid;
            gap:5px;
            grid-template-columns:1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        .trendDetail h2,
        .trendDetail h3{
            font-size:small;
        }
        @keyframes prof{
            0%{
               border-top:2px solid blue;
            }
            25%{
                border-left:2px solid orange;
                }
                50%{
                    border-right:2px solid maroon;
                    }
             
            100%{
                 border-bottom:2px solid red;
            }
            }
            .icon{
                display: flex;
                justify-content:space-between;
                align-items:center;
                gap:50px;
                }
                .bx{
                    font-size:30px;
                    font-weight:bold; 
                   
                    }
                    .phase{
                        display:flex;
                        align-items:center;
                        flex-direction:column;
                        }
     .wave{
         position:relative;
         width:100%;
         height:50px;
         display:flex;
         gap:4px;
         justify-content:center;
     }
     .wave span{
         width:3px;
         height:50px;
         background-color:grey;
         position:relative;
     }
     span.one{
         transform:scale(0.5);
       
         }
     span.three,
     span.seven{
         transform:scale(0.7);
     }
     span.six,
     span.eight,
     span.nine{
         transform:scale(0.8);
     }
     span.two,
     span.four,
     span.five{
         transform:scale(0.8);
     }
     span.ten{
         transform:scale(0.4);
     }
   .wave span::before{
         position:absolute;
         content:" ";
         top:0;
         left:0;
        // display:flex;
         gap:4px;
        // justify-content:center;
         width:50%;
         height:100%;
         background-color:orange;
     }
   
     .rate{
         width:80%;
         display:flex;
         justify-content:space-between;
         align-items:center;
         }
         .controlBtns{
             gap:7px;
             display:flex;
             align-items:center;
             }
         .controlBtns i{
             font-size:50px;
             font-weight:lighter;
         }
         .controlBtns i:nth-child(3){
             font-size:100px;
             font-weight:lighter;
         }
             .controlBtns i:last-child{
             font-size:25px;
             font-weight:bold;
         }
         .controlBtns i:not(.play){
             padding:5px;
         }
           .controlBtns i:not(.play):hover{
               border-radius:50%;
            border:2px solid rgba(0,0,0,0.3);
         }
         .progress{
             height:5px;
             width:300px;
         }
.like{
    color:red;
    }
             #searchArea{
                 width:100%;
                 height:40px;
                 border:2px solid white;//rgba(0,0,0,0.1);
                 border-radius:10px;
                 background:transparent;
                 box-sizing:border-box;
                 box-shadow:0 0 5px rgba(0,0,0,0.6),
                                     2px 2px 5px rgba(0,0,0,0.7),
                                     -2px -2px 5px rgba(0,0,0,0.7);
                 outline:none;
                 color:white;
                 font-weight:bold;
                 font-size:18px;
                 padding:5px;
             }
             #searchArea:hover{
                 border:2px solid grey;
                 }
    .menu{
        width:100%;
        background-color:rgba(1,1,1,0.6);
        display:flex;
        justify-content:space-around;
        align-items:center;
        position:fixed;
        bottom:0;
        padding:10px 10px 20px;
        z-index:120;
        transform:translateY(200px);
        transition:2s ease;
    }
    .popup{
        transform:translateY(0px);
    }
    
    .prog{
        height:200px;
        width:200px;
        transform:rotate(270deg);
        
        }
.inputRange{
    transform:translateY(200px);
}
        .menus{
        display:flex;
        flex-direction:column;
        align-items:center;
        padding:10px;
        border-radius:50%;
        transition:2s ease;
    }
    section.speedRate{
      position:relative;
            top:0;
            z-index:100;
            background-color:black;
            width:100%;
            height:100vh;
            display:none;
            flex-direction:column;
        //    justify-content:center;
            align-items:center;
            gap:10px;
    }
  .speedRate .top{
      display:flex;
      //gap:100px;
      }
    
           #closeSR{
                position:absolute;
                right:20px;
                top:0;
                font-weight:bold;
                border-radius:50%;
                padding:5px;
                color:gray;
                font-size:45px;
                font-weight:lighter;
            }
            
            .close:hover{
                padding:5px;
                background-color:red;
                }
#fire{
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background-image:linear-gradient(to left ,red,gold,orange,red);

    }
    footer{
        position:fixed;
        width:100%;
        bottom:0;
        padding:10px 0 20px;
        background-color:rgba(0,0,0,0.8);
        display:flex;
        justify-content:space-around;
        align-items:center;
        
    }
    .foot{
        display:flex;
        flex-direction:column;
        align-items:center;
        padding:10px;
        border-radius:50%;
        transition:2s ease;
    }
    .foot:hover{
        background-color:rgba(0,0,0,0.2);
        border:2px solid grey;
    }
